<a href="https://colab.research.google.com/github/margolek/Python_sorted_by_topics/blob/main/Pandas/guipsamora/01_Getting_%26_Knowing_Your_Data/Chipotle/exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [14]:
chipo.shape

(4622, 5)

In [ ]:
# Solution 2
chipo.info()

### Step 6. What is the number of columns in the dataset?

In [15]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [20]:
chipo.columns

pandas.core.indexes.base.Index

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [33]:
c = chipo.groupby(by = 'item_name')
c = c.sum()
c = c.sort_values(['quantity'],ascending =False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c = chipo.groupby(by = 'item_name')
c = c.sum()
c = c.sort_values(['quantity'],ascending =False)
c.head(1)

### Step 11. What was the most ordered item in the choice_description column?

In [35]:
c = chipo.groupby(by = 'choice_description').sum()
c = c.sort_values(['quantity'],ascending =False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [45]:
c = chipo['quantity'].sum()
print(c)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [47]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [53]:
a = chipo['item_price'].apply(lambda x: float(x[1:-1]))
a.dtype

dtype('float64')

#### Step 13.c. Check the item price type

In [54]:
a.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:

chipo['revenue'] = chipo['item_price']*chipo['quantity']
chipo['revenue']

### Step 15. How many orders were made in the period?

In [81]:
orders = chipo['order_id'].value_counts()
orders.count()

1834

### Step 16. What is the average revenue amount per order?

In [102]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

KeyError: ignored

In [ ]:
# Solution 2

### Step 17. How many different items are sold?